<!DOCTYPE html>
<html>
<head th:replace="layout :: head('Project Details')"></head>
<body>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: nav('Projects')"></nav>
<section>
    <div class="container wrapper">
        <div class="project-list single">
            <div class="project">
                <!-- Display project name -->
                <h2 th:text="${project.name}"></h2>
                <!-- Display project description -->
                <p th:text="${project.description}"></p>
                <!-- Display project status -->
                <span th:class="|tag ${#strings.toLowerCase(project.status)}|"
                      th:text="${project.status.description}"></span>
                <!-- Display project creation date -->
                <time th:datetime="${#dates.format(project.creationDate,'yyyy-MM-dd')}"
                      th:text="'Created at: ' + ${#dates.format(project.creationDate,'dd MMMM yyyy')}">
                </time>
            </div>
            <!-- Display project roles and collaborators -->
            <div class="roles-collaborators">
                <h3>Roles &amp; Collaborators</h3>
                <div th:each="role : ${project.rolesNeeded}" class="list-item">
                    <span class="primary" th:text="${role.name}"></span>
                    <span class="secondary"
                          th:text="${project.collaborators[__${roleStat.index}__].name}"
                          th:if="${project.collaborators[__${roleStat.index}__]} != null and
                          ${project.collaborators[__${roleStat.index}__].role.id} == ${role.id}">

                    </span>
                    <span class="secondary"
                          th:if="${project.collaborators[__${roleStat.index}__]} == null">
                        [Unassigned]
                    </span>
                </div>
            </div>
            <!-- Display project controls - edit project/edit collaborators/delete project -->
            <div class="actions">
                <a class="button" th:href="@{|/projects/${project.id}/edit|}">Edit Project</a>
                <a class="button" th:href="@{|/projects/${project.id}/collaborators|}">Edit Collaborators</a>
                <a class="button" th:href="@{|/projects/${project.id}/delete|}">Delete Project</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>