<!DOCTYPE html>
<html>
<head th:replace="layout :: head('Projects')"></head>
<body>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: nav('Projects')"></nav>
        <section>
            <div class="container wrapper">
                <div class="project-list">
                    <!-- Displays message when there are no projects to display -->
                    <div th:if="${#lists.isEmpty(projects)}" class="project">
                        <h2>No projects created yet...</h2>
                        <p>Use New Project button in upper right corner to add new project.</p>
                    </div>
                    <!-- Displays all projects passed in by controller -->
                    <div th:each="project : ${projects}" class="project">
                        <h2><a th:href="@{|/projects/${project.id}|}" th:text="${project.name}"></a></h2>
                        <p th:text="${project.description}"></p>
                        <span th:class="${project.status}"
                              th:text="${#strings.capitalizeWords(project.status)}"></span>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>