<!DOCTYPE html>
<html>
<head th:replace="layout :: head('Role Details')"></head>
<body>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: nav('Roles')"></nav>
<section>
    <div class="container wrapper">
        <form method="post" th:action="@{/roles}" th:object="${role}">
            <h2>Edit Role</h2>
            <!-- Edit role from database -->
            <div class="actions">
                <input type="text" th:field="*{name}"
                       minlength="2" required="required"/>
                <input type="hidden" th:field="*{id}" th:value="*{id}"/>
                <input class="button" type="submit" value="Save"/>
                <a class="button delete" th:href="@{|/roles/*{id}/delete|}">Delete</a>
                <a th:href="@{/roles}" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>