<!DOCTYPE html>
<html>
<head th:replace="layout :: head('Roles')"></head>
<body>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: nav('Roles')"></nav>
<section>
    <div class="container wrapper">
        <form method="post" th:action="@{/roles}" th:object="${role}">
            <h2>Manage Roles</h2>
            <div>
                <div th:if="${#lists.isEmpty(roles)}" class="project">
                    <h2>No roles created yet...</h2>
                    <p>Add new roles below.</p>
                </div>
                <ul class="checkbox-list">
                    <!-- Displays all roles passed in by controller -->
                    <li th:each="role : ${roles}">
                        <span th:text="${role.name}" class="primary"></span>
                    </li>
                </ul>
            </div>
            <!-- Add new role to database -->
            <div class="actions add-new-role">
                <input type="text" th:field="*{name}" placeholder="New Role..."
                       minlength="2" required="true"/>
                <input class="button" type="submit" value="Add"/>
            </div>
        </form>
    </div>
</section>
</body>
</html>